.element__like-btn {
    margin-right: 18px;
    background-color: transparent;
    border: none;
    cursor: pointer; 
    height: 19px;
    width: 21px;
}
.element__like-btn:hover {
    opacity: 0.5;
    transition: 0.2s;
}
