.element__like-btn {
    align-self: center;
    margin-right: 18px;
    background-color: transparent;
    border: none;
    cursor: pointer; 

}
.element__like-btn:hover {
    opacity: 0.5;
    transition: 0.2s;
}
