.elements {
    display: grid;
    max-width: 880px;
    grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
    grid-template-rows: repeat(2, minmax(361px, 1fr));
    gap: 21px 17px;
    margin: 0 auto;
    padding: 0px;
}

@media screen and (max-width: 580px) {
    .elements {
        width: calc(100% - 38px);
    }
}
@media screen and (max-width: 879px) {

    .elements {
        width: calc(100% - 38px);
    }
}