.modal__container{
    position: relative;
    max-width: 430px;
    width: 100%;
    background-color: #fff;
    border: none;
    border-radius: 10px;
    padding-bottom: 35px;
}
@media screen and (max-width: 580px) {
    .modal__container{
        max-width: 90%;
        width: 282px;
        padding-bottom: 25px;
    }

}