.wrapper__close-btn {
    background: url(/images/Close-Icon.png) center center;
    height: 48px;
    width: 48px;
    padding: 0;
    border: none;
    position: absolute;
    top: -45px;
    right: -45px;
    cursor: pointer;
}