.element__likes-count{
    color: #000;
    font-size: 13px;
    line-height: 16px;

    /* align-self: center;
    
    padding-top:22px;

    background-color: transparent;
    background-position: center;
    border: none; */ 
}
