.modal__close-btn {
    height: 48px;
    width: 48px;
    padding: 0;
    border: none;
    position: absolute;
    top: -45px;
    right: -45px;
    cursor: pointer;
    background-color: transparent; 
    
}
.modal__close-btn:hover{
    opacity: 0.6; 
    transition: 0.3s;
}
@media screen and (max-width: 580px) {
    .modal__close-btn{
        right: -5px;
        height: 26px;
        width: 26px;
                
    }
}